$font-stack: Tahoma, Verdana, Helvetica, sans-serif;
$font-default-size: 11px;
$primary-color: #4f4f4f;

$header-font-color: #003d5b;
$header-font-size: 12px;

$title-font-size: 14px;

body, .form-control {
  font: $font-default-size $font-stack;
  color: $primary-color;
}

/*.adf {*/
h1 {
  font-family: $font-stack;
  font-size: $title-font-size;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin: 5px 0px;
}

h2 {
  font-family: $font-stack;
  color: $header-font-color;
  font-size: $header-font-size;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-family: $font-stack;
  color: $header-font-color;
  font-size: $font-default-size !important;
  font-weight: bold;
  margin: 0;
}

.btn-adf {
  font-size: $font-default-size;
  font-weight: normal;
  background-image: linear-gradient(center top, #cce2f6 0%, #b1d2f2 100%);
  background-image: -moz-linear-gradient(center top, #cce2f6 0%, #b1d2f2 100%);
  background-image: -webkit-linear-gradient(top, #cce2f6 0%, #b1d2f2 100%);
  border-radius: 3px;
  border: 1px solid #95b6d4;
  border-bottom-color: #92b3d1;
  margin: 0 1px;
  line-height: 1em;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr= #CCE2F6 , endColorstr= #B1D2F2 ,GradientType=0 )"; /* IE9 */

}

.btn-adf:hover {
  border: 1px solid #e2cb9b;
  border-bottom-color: #d4bb87;
  background-image: linear-gradient(top, #ffe4a8 0%, #ffd475 100%);
  background-image: -moz-linear-gradient(top, #ffe4a8 0%, #ffd475 100%);
  background-image: -webkit-linear-gradient(top, #ffe4a8 0%, #ffd475 100%);
  -ms-filter: "filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= #FFE4A8 , endColorstr= #FFD475 ,GradientType=0 )";
}

.btn-adf:active {
  border: 1px solid #789fc4;
  border-top-color: #648baf;
  background-image: linear-gradient(top, #6aa1d5 0%, #accae6 100%);
  background-image: -moz-linear-gradient(top, #6aa1d5 0%, #accae6 100%);
  background-image: -webkit-linear-gradient(top, #6aa1d5 0%, #accae6 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr= #6AA1D5 , endColorstr= #ACCAE6 ,GradientType=0 )";
}

/* end ADF styles */
